@import '../../../assets/styles/variables';

.content {
  display: flex;
  justify-content: center;

  .main {
    width: 60%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
